streamlit 
google-generativeai 
python-dotenv 
pdf2image 
livekit
aiortc
fpdf
speechrecognition
pyaudio
pydub
streamlit-mic-recorder
reportlab
PyPDF2
google-generativeai 
moviepy 
ffmpeg-python
librosa
praat-parselmouth
decorator 
imageio
imageio_ffmpeg
numpy==1.26.4
pillow
proglog
python-dotenv
streamlit
speechrecognition
streamlit-mic-recorder
pydub
youtube-transcript-api